*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-image: linear-gradient(0deg, #02295D 0%, #02295D 100%);
}

.logoHeader {
    max-width: 7rem;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: #12024e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}

.nav-list li a i {
    margin-left: 10px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

@media screen and (max-width:550px) {
    .abrir-menu,
    .cerrar-menu {
        display:block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    
    .abrir-menu{
        color: black;
    }
    .cerrar-menu{
        color: white;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: blue;
    }
}

.servicios{
    padding: 10px;
    height: 40vh;
    background-image: linear-gradient(0deg, #02295d0c 0%, #02295d0c 100%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.avisos, .banderines, .caja, .display, .letrero, .logo, .porta-accesorios, .recuerdos, .stand{
    padding: 10px;
    height: 40vh;
    background-image: linear-gradient(0deg, #02295d0c 0%, #02295d0c 100%);
    display: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.servicios div, .avisos div, .banderines div, .caja div, .display div, .letrero div, .logo div, .porta-accesorios div, .recuerdos div, .stand div{
    min-height: 240px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 10px;
    background-image: linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
    border-radius: 40px;
    padding: 12px;
}
.servicios div img, .avisos div img, .banderines div img, .caja div img, .display div img, .letrero div img, .logo div img, .porta-accesorios div img, .recuerdos div img, .stand div img{
    height: 85%;
}
.servicios div h2, .avisos div h2, .banderines div h2, .caja div h2, .display div h2, .letrero div h2, .logo div h2, .porta-accesorios div h2, .recuerdos div h2, .stand div h2{
    color: #000000; 
    font-family: "Poiret One", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}

.subtitulos{
    color: #02295D; 
    font-family: "Poiret One", sans-serif;
    font-weight: 800;
    font-style: normal; 
    background-image: linear-gradient(0deg, #ffffffd8 0%, #ffffff 100%);
}

.servicios div h1, .avisos div h1, .banderines div h1, .caja div h1, .display div h1, .letrero div h1, .logo div h1, .porta-accesorios div h1, .recuerdos div h1, .stand div h1{
    color: #000000; 
    font-family: "Kodchasan", sans-serif;
    font-weight: 800;
    font-style: normal;
    
}

.significadoicono{
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 10px;
    font-optical-sizing: auto;
    font-family: "Cherry Cream Soda", system-ui;
    font-weight: 400;
    font-style: normal;
      }

footer{
    height: 4rem;
    background-image: linear-gradient(0deg, #006effcb 0%, #02295d0c 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.footer{
    text-align: center;
    color: #000000;
    font-family: "Kodchasan", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.subtitulos{
    text-align:center;

}